---

port: {{ arteria_siswrap_port }}
sender: {{ arteria_siswrap_mail_from }}
receiver: {{ arteria_siswrap_mail_to }}
report_bin: {{ arteria_siswrap_env_root }}/deps/sisyphus/sisyphus-latest/quickReport.pl
qc_bin: {{ arteria_siswrap_env_root }}/deps/sisyphus/sisyphus-latest/qcValidateRun.pl
aeacus_stats: {{ arteria_siswrap_env_root }}/deps/sisyphus/sisyphus-latest/aeacus-stats.pl
aeacus_reports: {{ arteria_siswrap_env_root }}/deps/sisyphus/sisyphus-latest/aeacus-reports.pl
version_bin: {{ arteria_siswrap_env_root }}/deps/sisyphus/sisyphus-latest/version.pl
runfolder_root: {{ runfolder_path }}/
perl: /usr/bin/perl
