---

port: 10700
sender: johan.hermansson@medsci.uu.se
receiver: arteria-project@googlegroups.com
report_bin: {{ arteria_siswrap_env_root }}/deps/sisyphus/sisyphus-latest/quickReport.pl
qc_bin: {{ arteria_siswrap_env_root }}/deps/sisyphus/sisyphus-latest/qcValidateRun.pl
version_bin: {{ arteria_siswrap_env_root }}/deps/sisyphus/sisyphus-latest/version.pl
runfolder_root: {{ runfolder_path }}/
perl: /usr/bin/perl
