---
no_version_check: True
template: 'ngi'
disable_ngi: {{ item.disable_ngi_hooks }}

extra_fn_clean_exts:
    - .bowtie_log
    - .featureCounts

fn_ignore_paths:
    - '*/piper_ngi/01_raw_alignments/*'
    - '*/piper_ngi/02_preliminary_alignment_qc/*'
    - '*/piper_ngi/03_genotype_concordance/*'
    - '*/piper_ngi/04_merged_alignments/*'

{% if item.site == "sthlm" and deployment_environment in ["production", "staging"]%}
push_statusdb: True
save_remote: True
{% if deployment_environment == "production" %}
remote_sshkey: "/home/funk_006/ssh_keys/id_rsa"
remote_port: '5912'             # Optional
remote_destination: 'genomics.www@tools.scilifelab.se:/var/local/mqc_reports/'
{% elif deployment_environment == "staging" %}
remote_sshkey: "/home/funk_007/ssh_keys/id_rsa"
remote_port: '22'             # Optional
remote_destination: 'genomics.www@tools-dev.scilifelab.se:/var/local/mqc_reports/'
{% endif %}
{% endif %}
