---
no_version_check: True

{% if item.site == "sthlm" and deployment_environment in ["production", "staging"]%}
push_statusdb: True
save_remote: True
{% if deployment_environment == "production" %}
remote_sshkey: "/home/funk_006/ssh_keys/id_rsa"
remote_port: '5912'             # Optional
remote_destination: 'genomics.www@tools.scilifelab.se:/var/local/mqc_reports/'
{% elif deployment_environment == "staging" %}
remote_sshkey: "/home/funk_007/ssh_keys/id_rsa"
remote_port: '22'             # Optional
remote_destination: 'genomics.www@tools-dev.scilifelab.se:/var/local/mqc_reports/'
{% endif %}
{% endif %}
