[ngi_reports]
{% if "sthlm" in site %}
ngi_node = stockholm
{% elif "upps" in site %}
ngi_node = uppsala
{% endif %}
support_email = genomics_support@scilifelab.se

[organism_names]
hg19: Human
hg18: Human
mm10: Mouse
mm9: Mouse
canFam3: Dog
canFam2: Dog
sacCer2: Saccharomyces cerevisiae
TAIR9: Arabidopsis
rn5: Rat
rn4: Rat
WS210: C. elegans
xenTro2: Xenopus
dm3: Drosophila

[quality_threshold_hiseq]
50 : 85
100 : 80
125 : 80
150 : 75
[quality_threshold_hiseqx]
<150 : 80
>150 : 75
[quality_threshold_miseq]
<100 : 80
100 : 75
150 : 70
>250 : 60

[log]
{% if "sthlm" in site %}
log_dir : {{ ngi_pipeline_log_sthlm }}
{% elif "upps" in site %}
log_dir : {{ ngi_pipeline_log_upps }}
{% endif %}

[paths]
delivery: 08_misc/${sample_id}_delivered.ack
qualimap: 06_final_alignment_qc/${sample_id}.clean.dedup.qc
snpeff: 07_variant_calls/${sample_id}.clean.dedup.recal.bam.raw.annotated.vcf.gz.snpEff.summary.csv
picard_metrics: 05_processed_alignments/${sample_id}.metrics
