[ngi_reports]
support_email: genomics_support@scilifelab.se

[paths]
delivery: 08_misc/${sample_id}_delivered.ack
qualimap: 06_final_alignment_qc/${sample_id}.clean.dedup.qc
snpeff: 07_variant_calls/${sample_id}.clean.dedup.recal.bam.raw.annotated.vcf.gz.snpEff.summary.csv
picard_metrics: 05_processed_alignments/${sample_id}.metrics

[organism_names]
hg19: Human
hg18: Human
mm10: Mouse
mm9: Mouse
canFam3: Dog
canFam2: Dog
sacCer2: Saccharomyces cerevisiae
TAIR9: Arabidopsis
rn5: Rat
rn4: Rat
WS210: C. elegans
xenTro2: Xenopus
dm3: Drosophila

[log]
log_dir: {{ ngi_pipeline_upps_path }}/log/ngi_reports.log
