qc_analysis:
  global_config: {{ ngi_pipeline_conf }}/NouGAT_paths.conf
  time: 1-00:00:00
  project: {{ ngi_pipeline_sthlm_delivery }}
  threads: 16
  email: {{ recipient_mail_sthlm }}
  env: {{ NGI_venv_name }}
  qos: normal
qc_report:
  global_config: {{ ngi_pipeline_conf }}/NouGAT_paths.conf
  qos: normal
assembly:
  global_config: {{ ngi_pipeline_conf }}/NouGAT_paths.conf 
  time: 1-00:00:00
  project: {{ ngi_pipeline_sthlm_delivery }}
  threads: 16
  email: {{ recipient_mail_sthlm }}
  env: {{ NGI_venv_name }}
  qos: normal
validation:
  global_config: {{ ngi_pipeline_conf }}/NouGAT_paths.conf
  time: 1-00:00:00
  project: {{ ngi_pipeline_sthlm_delivery }}
  threads: 16
  email: {{ recipient_mail_sthlm }}
  env: {{ NGI_venv_name }}
  qos: normal
delivery:
   global_config: {{ ngi_pipeline_conf }}/NouGAT_paths.conf
