# This file should be placed under $HOME/.ngiconfig/ngi_config.yaml
# or its path exported as the environment variable NGI_CONFIG

# TODO: Deploy the correct version of the database. 
database:
    record_tracking_db_path: {{ ngi_pipeline_db }}/{{ records_db }}

environment:
    project_id: {{ ngi_pipeline_slurm_project }}
    ngi_scripts_dir: {{ ngi_pipeline_dest }}/scripts 
    conda_env: NGI
    flowcell_inbox:
            - /proj/{{ ngi_pipeline_sthlm_delivery }}/archive
            - /proj/{{ ngi_pipeline_upps_delivery }}/archive
# TODO: This QOS flag is probably not used/needed any longer. 
#       Enable later in the future if required. 
#slurm:
#    extra_params:
#        "--qos": "seqver"
piper:
    # Also can be set as an environmental variable $PIPER_QSCRIPTS_DIR
    path_to_piper_qscripts: {{ ngi_piper_bin_dest }}/qscripts
    sample:
        required_autosomal_coverage: 28.4
    load_modules:
        - java/sun_jdk1.7.0_25
        - R/3.2.3
    gatk_key: "{{ ngi_pipeline_conf }}/{{ gatk_key }}"

supported_genomes:
    #"GRCh37": "/apus/data/uppnex/reference/Homo_sapiens/GRCh37/concat/Homo_sapiens.GRCh37.57.dna.concat.fa"
    "GRCh37": "{{ gatk_bundle_b37 }}/human_g1k_v37.fasta"
    # GRMc38 is currently not used.  
    #"GRCm38": "/sw/data/uppnex/reference/Mus_musculus/GRCm38/concat/Mus_musculus.GRCm38.69.dna.concat.fa"
    "rn4": None
    "saccer2": None
    "dm3": None
    "tair9": None
    "xentro2": None
    "ws210": None
    "canfam3": None

analysis:
    workflows:
        NGI:
            analysis_engine: ngi_pipeline.engines.piper_ngi
        mate_pair:
            analysis_engine: ngi_pipeline.engines.de_novo_pipeline
        RNA:
            analysis_engine: ngi_pipeline.engines.bcbio_ngi
    best_practice_analysis:
        whole_genome_reseq:
            analysis_engine: ngi_pipeline.engines.piper_ngi
        IGN:
            analysis_engine: ngi_pipeline.engines.piper_ngi
        qc:
            analysis_engine: ngi_pipeline.engines.qc_ngi
    top_dir: nobackup/NGI/analysis_ready
    sthlm_root: {{ ngi_pipeline_sthlm_delivery }}
    upps_root: {{ ngi_pipeline_upps_delivery }}
    base_root: /proj

qc:
    load_modules:
        - bioinfo-tools
    fastqc:
        load_modules:
            - FastQC
        threads: 16
    fastq_screen:
        config_path: "{{ ngi_pipeline_conf }}/fastq_screen.irma.conf"
        load_modules:
            - bowtie2
            - fastq_screen
        subsample_reads: 200000
        threads: 1

paths: # Hard code paths here if you are that kind of a person
    binaries:
        #bowtie2:
        #fastqc:
        #fastq_screen:
    references:

logging: 
    log_file: "{{ ngi_pipeline_logs }}/{{ ngi_pipeline_log }}" 

