# This file should be sourced from the user's local bash init files 

export NGI_CONFIG={{ ngi_pipeline_conf }}/irma_ngi_config.yaml
export CHARON_API_TOKEN={{ charon_api_token }}
export CHARON_BASE_URL={{ charon_base_url }}

